<h1>Todos os Eventos</h1>
<div class="event-list">
    {{#each events}}
    <div class="event-item">
        <a href="/events/view/{{this.id}}">
            <img src="{{this.imagem}}" alt="{{this.title}}" class="event-image">
        </a>
        <div class="event-detail">
            <div class="event-detail-left">
                <p class="event-datetime">{{formatDateCustom this.data}}</p>
            </div>
            <div class="event-detail-right">
                <span class="cidade">{{this.city}}</span><br>
                <span class="nome"><a href="/events/view/{{this.id}}"><strong>{{truncate this.title 29}}</strong></a></span><br>
                <span class="local"><strong>{{this.location}}</strong></span>
            </div>
        </div>
    </div>
    {{/each}}
</div>